<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APCA-API-SECRET-KEY</key>
	<string>nhYBlG2U0lbyynTW0qtExwJfALxPWT5GkCcJoehn</string>
	<key>APCA-API-KEY-ID</key>
	<string>CK70QGVWBLNNI2SV3NJB</string>
	<key>CRYPTO-API</key>
	<string>CG-53tVChrHAqA2KxXfsjLMDino</string>
	<key>NEWS-API</key>
	<string>X3a1XPNl9eyFv87r49mEGR0gPSVMOLuENbzgxAqe</string>
</dict>
</plist>
