<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APCA-API-SECRET-KEY</key>
	<string>c2jcycrCjIrsxcmA4AItcOXqD20CckGcYx7geha1</string>
	<key>APCA-API-KEY-ID</key>
	<string>PKLV5KDW5RV9DUN3FEI6</string>
	<key>CRYPTO-API</key>
	<string>CG-RtReUzVveBin6iZXjJZpvSLH</string>
	<key>NEWS-API</key>
	<string>Yjq180ENE0EQFY9RjkkQ3jLO7Q0Doa0XT0Qr0MUb</string>
</dict>
</plist>
